@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    Helvetica Neue,
    Arial,
    sans-serif;
  font-weight: 300;
}

:root {
  --csil-triangles-aspect-ratio: 4.878020641724593;
}

@media (min-width: 1024px) {
  :root {
    --csil-triangles-aspect-ratio: 17.577108195328606;
  }
}

.hero-height {
  min-height: calc(
    100lvh - 3.5rem - 100vw / var(--csil-triangles-aspect-ratio)
  );
}
